@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      display: column;
      column-count: 3;
      column-gap: 1.8em;
    }
    .masonry-2 {
      display: column;
      column-count: 2;
      column-gap: 1.5rem;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}
